body {
  margin: 10;
  padding: 10;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

.id {
  padding-left:26px;
  width:200px;
  text-transform: uppercase;
}

.title {
  padding-left:10px;
  width:300px;
  text-transform: uppercase;
}

.imgClass {
  position: "relative";
  height: 50;
  background-color: #222222;
}

input {
  border: #000;
  padding: 10px;
  font-size: 1em;
  background-color: antiquewhite;
  width: 30%;
}
select {
  border: #000;
  padding: 10px;
  font-size: 1em;
  background-color: antiquewhite;
  width: 30%;
}
